.registrationpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

mat-form-field{
    margin: 2px;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.regform{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;

}

.entityselection{
    width: 300;
}

.success{
    display: flex;
    flex-direction: row;
    background-color: rgb(44, 189, 44);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}

.error{
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 44, 20);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}