<div *ngIf="productDetails" class="detailspage">
    <h1>Product Details</h1>
    <div class="productdetailsrow">
        <div class="image">
            <img [src]="productDetails.images[0]" alt="">
        </div>
        <div class="features">
            <h3>{{productDetails.name}}</h3>
            <li>Price:{{productDetails.price | currency:'GBP':'symbol':'1.2-2'}}</li>
            <li>Brand:{{productDetails.brand }}</li>
            <li>Category:{{productDetails.category }}</li>
            <li>Description:{{productDetails.description }}</li>
            <li>Status:Available</li>
            <li>Available Qtty:{{productDetails.stockQuantity}}</li>



        </div>
    </div>
    <span *ngIf="userType=='Staff' || userType=='Supplier'" style="margin: 5px;">Remaining Qtty: {{productDetails.stockQuantity}}</span>
    <div class="buttonsRow">
        <button (click)="addToCart(productDetails._id, productDetails.stockQuantity)" *ngIf="userType!='Staff' && userType!='Supplier'" mat-raised-button color="accent" style="margin: 5px;"><mat-icon>add_shopping_cart</mat-icon> Add to Cart</button>
        <button (click)="rejectProduct(productDetails._id)" *ngIf="userType!='Supplier' && userType!='User'" mat-raised-button color="primary" style="margin: 5px;"><mat-icon>delete</mat-icon> Reject</button>


    </div>
    
</div>
<div *ngIf="!productDetails" class="progress">
    <mat-spinner strokeWidth="2"></mat-spinner>
  </div>