<mat-toolbar color="primary">
    <span>THREE AMIGOS CORP <small style="color: rgb(38, 212, 38);">{{userType}}</small></span>
  
    <!-- Right-aligned Buttons with Icons and Dropdown -->
    <div class="right-buttons">
      <button *ngIf="username" mat-button><mat-icon>person</mat-icon> {{username}}</button>
      <button mat-button routerLink="market">
        <mat-icon>store</mat-icon> Market
      </button>
  
      <!-- Dropdown for Login and Register -->
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon> Actions
      </button>
      <mat-menu #userMenu="matMenu">
        <button *ngIf="isSupplier" mat-menu-item routerLink="addProduct">
          <mat-icon>library_add</mat-icon> Add Product
        </button>
        <button mat-menu-item >
          <mat-icon>edit</mat-icon> Edit Profile
        </button>
        <button (click)="onAddFundsDialog()" mat-menu-item >
          <mat-icon>account_balance_wallet</mat-icon> Add Funds
        </button>
        <button mat-menu-item >
          <mat-icon>delete_outline</mat-icon> Delete Account
        </button>
        <button mat-menu-item >
          <mat-icon>shopping_basket</mat-icon> My Orders
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>

      </mat-menu>
    </div>
  </mat-toolbar>
  <div *ngIf="userinfo" class="accountdetails">
    <span>
      Balance: {{userinfo.balance | currency:'GBP':'symbol':'1.2-2' }}
    </span>
  </div>
  <router-outlet></router-outlet>