/* add-funds-dialog.component.css */

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  mat-form-field {
    width: auto;
    margin: 10px;
  }
  
  mat-dialog-content{
    width: 100%;
    height: 100%;
  }