.loginpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginform{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.success{
    display: flex;
    flex-direction: row;
    background-color: rgb(44, 189, 44);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}

.error{
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 44, 20);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}