.managementpage{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100vw;
    justify-content: center;
}

table td, table th{
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
}
table{
    margin: 10px;
}

.orderslist{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.orderslist h3{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.well {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #1bedca;
    display: flex;
    flex-direction: row;
  }