<div class="searchdiv">
    <mat-form-field appearance="outline" style="width: 60vw;">
      <mat-label>Search</mat-label>
      <mat-icon color="primary" matPrefix>camera_alt</mat-icon>
      <input
        type="text"
        matInput
        placeholder="Search the market..."
        [(ngModel)]="searchTerm"
        (input)="searchProducts()"
      />
      <mat-icon color="primary" matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  
  <!-- Display your filtered products -->
  <div class="searchdiv" style="display: flex; flex-direction: column; width: auto;">
    <span style="color: rgb(45, 199, 45);" *ngIf="searchTerm">Your search for '{{searchTerm}}' returned {{filteredProducts.length}} product(s).</span>
    <div *ngIf="searchTerm" class="searchmarketplacepage">
        <mat-card (click)="viewProduct(product._id)" *ngFor="let product of filteredProducts" class="product" >
            <img style="height: 150px; width: 110;" src="{{ product.images[0] }}" alt="{{ product.name }}" mat-card-image >        
            <strong style="text-align: center;">{{truncateString(product.name, 15)}}</strong>
            <mat-card-subtitle style="text-align: center;">Price: {{ product.price | currency:'GBP':'symbol':'1.2-2' }}</mat-card-subtitle>        
            <button (click)="viewProduct(product._id)" mat-stroked-button><mat-icon>add_shopping_cart</mat-icon> Buy</button>       
        </mat-card>
      </div>

  </div>
  

  <hr *ngIf="searchTerm">
  
  
<div class="marketplacepage">

    
    <mat-card (click)="viewProduct(product._id)" *ngFor="let product of products" class="product" >
        <img style="height: 150px; width: 110;" src="{{ product.images[0] }}" alt="{{ product.name }}" mat-card-image >        
        <strong style="text-align: center;">{{truncateString(product.name, 15)}}</strong>
        <mat-card-subtitle style="text-align: center;">Price: {{ product.price | currency:'GBP':'symbol':'1.2-2' }}</mat-card-subtitle>        
        <button (click)="viewProduct(product._id)" mat-stroked-button><mat-icon>add_shopping_cart</mat-icon> Buy</button>       
    </mat-card>

    



</div>


